<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
 </head>
<body id=theBody>
<a href="javascript:;" onclick="aa();">aaaaaa</a>
<script type="text/javascript">
	function aa () {
		alert('网页的');
		alert(window.external);
		window.external.OnClick(theBody, "red");
	}
</script>
</body>
</html>