<div class="container download-content">
	<div class="row">
		{*<div class="col-sm-2  download-item">
            <span class="sep sep-left"></span>
            <a class="download-item-a " href="{$paltform['client_windows']}"  {literal}title="{{'index_login_down_win'|translate}}" {/literal}>
                <i class="download-icon download-icon-windows center-block"></i>
                <span class="download-text">Windows</span>
            </a>
            <span class="sep"></span>
        </div>*}

		<div class="col-sm-2  download-item">
			<span class="sep sep-left"></span>
			<a class="download-item-a " href="{$paltform['client_win_sync']}"  {literal}title="{{'index_login_down_win_sync'|translate}}" {/literal}>
				<i class="download-icon download-icon-windows-sync center-block"></i>
				<span class="download-text">Windows同步盘</span>
			</a>
			<span class="sep"></span>
		</div>

		<div class="col-sm-2  download-item ">

			<a class="download-item-a " href="{$paltform['client_android']}"  {literal}title="{{'index_login_down_tip_Scan'|translate}}" {/literal}>
				<i class="download-icon download-icon-android center-block"></i>
				<span class="download-text">Android</span>
			</a>
			<span class="sep"></span>
		</div>
		<div class="col-sm-2  download-item">
			<a class="download-item-a " href="{$paltform['client_iphone']}" {literal}title="{{'index_login_down_tip_Scan'|translate}}" {/literal}>
				{*<img src="/dist/common/i/iphone.png" style="width:35px;height:50px" />*}
				<i class="download-icon download-icon-iphone center-block"></i>
				<span class="download-text">iPhone</span>
			</a>
			<span class="sep"></span>
		</div>
		<div class="col-sm-2  download-item">
			<a class="download-item-a " href="{$paltform['client_mac']}" {literal}title="{{'index_login_down_mac'|translate}}" {/literal}>
				{*<img src="/dist/common/i/iphone.png" style="width:35px;height:50px" />*}
				<i class="download-icon download-icon-mac center-block"></i>
				<span class="download-text">Mac</span>
			</a>
			<span class="sep"></span>
		</div>
		<div class="col-sm-2  download-item">
			<a class="download-item-a " href="{$paltform['client_office']}"  {literal}title="{{'index_login_down_office'|translate}}" {/literal}>
				<i class="download-icon download-icon-office center-block"></i>
				<span class="download-text">Office插件</span>
			</a>
			<span class="sep"></span>
		</div>
		{*<div class="col-sm-2  download-item">
            <a class="download-item-a " href="{$paltform['client_mac']}"  {literal}title="{{'index_login_down_mac'|translate}}" {/literal}>
                <i class="download-icon download-icon-mac center-block"></i>
                <span class="download-text">Mac_Beta</span>
            </a>
            <span class="sep"></span>
        </div>*}
		{*</div>*}
		<div class="col-sm-2 download-item">
			<a class="download-item-a download-item-a-erweima" href="#">
				<img src="{$paltform['client_windows_sync']}" />
				<span class="download-text" translate="index_login_down_Scan">扫描下载客户端</span>
			</a>
			<span class="sep"></span>
		</div>

	</div>
</div>