<div class="pop-window">

    {*<div class="tool tel-service">
        <a href="http://activity.ksyun.com/1710/index.html?ch=00022.00011&hmsr=ksyun%E5%AE%98%E7%BD%91banner%E9%A1%B5&hmpl=1710&hmcu=&hmkw=&hmci="
           style="color: #fff;font-size: 13px;">
            新人<br>有礼
        </a>
        <div class="kf-tel" >
            <p style="font-size: 12px;">2核4G 100GSSD 1M带宽大米云主机</p>
        </div>
    </div>*}

    {*<div class="tool online-service">
        <a href="http://chat32.live800.com/live800/chatClient/chatbox.jsp?companyID=462131&configID=56872&jid=1949975560&lan=zh&enterurl=http%3A%2F%2Fwww.ksyun.com%2F&pagetitle=%E9%87%91%E5%B1%B1%E4%BA%91-%E5%85%A8%E7%90%83%E9%AB%98%E5%93%81%E8%B4%A8%E4%BA%91%E6%9C%8D%E5%8A%A1%E4%B8%93%E5%AE%B6&firstEnterUrl=http%3A%2F%2Fwww.ksyun.com%2F" target="_blank"><span></span></a>
    </div>*}
    <div class="item tel-service">
        <a href="javascript:void(0)"><span class="icon icon-tel"></span></a>
        <div class="tel-No">
            <p>客服热线：111-11-111</p>
        </div>
    </div>
    <div id="back-top" class="item back-to-top">
        <a href="javascript:void(0)" ng-click="backTop()"><span class="icon icon-back"></span></a>
    </div>
</div>