<ul class="clearfix">

    <li>
        <em class="index-case-1"></em>
        <h2>万达地产</h2>
    </li>
    <li>
        <em class="index-case-3"></em>
        <h2>山东能源集团</h2>
    </li>
    <li>
        <em class="index-case-24"></em>
        <h2>中国建筑一局</h2>
    </li>
    <li>
        <em class="index-case-4"></em>
        <h2>中国铁建</h2>
    </li>

    <li>
        <em class="index-case-6"></em>
        <h2>清华大学</h2>
    </li>
    <li>
        <em class="index-case-7"></em>
        <h2>北京大学</h2>
    </li>
    <li>
        <em class="index-case-8"></em>
        <h2>北京航天航空大学</h2>
    </li>
   {* <li>
        <em class="index-case-9"></em>
        <h2>重庆邮电大学</h2>
    </li>*}
    <li>
        <em class="index-case-25"></em>
        <h2>浙江省眼科医院</h2>
    </li>
    <li>
        <em class="index-case-10"></em>
        <h2>北大人民医院</h2>
    </li>
    <li>
        <em class="index-case-26"></em>
        <h2>诺禾致源</h2>
    </li>
    <li>
        <em class="index-case-5"></em>
        <h2>北京国际电影节</h2>
    </li>
    <li>
        <em class="index-case-14"></em>
        <h2>广州日报传媒股份有限公司</h2>
    </li>
    <li>
        <em class="index-case-11"></em>
        <h2>长江证券股份有限公司</h2>
    </li>
    <li>
        <em class="index-case-12"></em>
        <h2>国金证券股份有限公司</h2>
    </li>
    <li>
        <em class="index-case-13"></em>
        <h2>沈铁通辽工务段</h2>
    </li>

    <li>
        <em class="index-case-15"></em>
        <h2>广东迎东律师事务所</h2>
    </li>
    <li>
        <em class="index-case-16"></em>
        <h2>深圳优联金融服务有限公司</h2>
    </li>
    <li>
        <em class="index-case-17"></em>
        <h2>淄博热力有限公司</h2>
    </li>
    <li>
        <em class="index-case-18"></em>
        <h2>浙江万和建设有限公司</h2>
    </li>
    <li>
        <em class="index-case-19"></em>
        <h2>国宏嘉信资本</h2>
    </li>
    <li>
        <em class="index-case-28"></em>
        <h2>港中旅</h2>
    </li>
    {*<li>
        <em class="index-case-20"></em>
        <h2>真格基金</h2>
    </li>*}
    <li>
        <em class="index-case-21"></em>
        <h2>浙江省委党校报刊部</h2>
    </li>
    <li>
        <em class="index-case-22"></em>
        <h2>优智国际</h2>
    </li>
    <li>
        <em class="index-case-23"></em>
        <h2>小米科技</h2>
    </li>
    <li>
        <em class="index-case-2"></em>
        <h2>凤凰云翔</h2>
    </li>
</ul>