<!DOCTYPE html>
<html lang="zh"  ng-controller="homeController">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href="{$common}/bootstrap-3.3.5/css/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="{$common}/../console/console.css">
    <!--[if lt IE 8]>
      <script src="/scripts/browser-not-supported.js"></script>
    <![endif]-->
    <title>{$title}</title>
</head>
<body infinite-scroll="myPagingFunction()">
{include file="../common/nav.tpl"}

<div class="container-fluid" ng-view ui-view>
    <div class="row">
        {include file="./siderbar.tpl" title="监控信息"}

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2"  style="background:#fff;">


          <div role="tabpanel">
            <!-- Nav tabs -->
            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active"  id="domainprofile">
                  <h4>监控信息</h4>
                  
              </div>
            </div>

          </div>


        </div>
</div>
         

</div>
</body>
</html>
