﻿ <form action="savecode" method="post" >
       <div id="swapcontainer" style="width:90%;height:400px">
		<table  class="table" border= "0" cellpadding= "0 " cellspacing= "0 " > 
          <tr>
              <td width="150" align="right" style="border-top-style:none">
                  <label for="offline" class="control-label">代码配置：<span class="glyphicon glyphicon-info-sign" tooltip-placement="left" ></span></label>
              </td>
              <td style="border-top-style:none">
                 
				        <textarea  type="text"  style="height:500px;width:100%;" name="htmlcode" class="form-control"  >{$indextpl}</textarea>
				
					
              </td>
          </tr>
          
          <tr>
              <td align="right" style="border-top-style:none"></td>
              <td  style="border-top-style:none">
			    <div style="float:left;">
              <input type="submit" class="btn btn-primary" value="保存" />
				 </div>
				 <div >
          <a href="recover" class="btn btn-link">恢复默认</a>
				  </div>
              </td>
          </tr>
        </table>
	</div>
   </form>
	 