<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
 </head>
<body id=theBody>
购买页面
空间：
<select>
	<option>5</option>
</select>
人数：
<select>
	<option>5</option>
</select>
时间：
<select>
	<option>5</option>
</select>
</body>
</html>